@import url("https://db.onlinewebfonts.com/c/eb685f5dc6b663497f7d5d4aa4a6c13d?family=Noto+Kufi+Arabic");

@font-face {
  font-family: "NotoKufi";
  src: url("https://db.onlinewebfonts.com/t/eb685f5dc6b663497f7d5d4aa4a6c13d.eot");
  src: url("https://db.onlinewebfonts.com/t/eb685f5dc6b663497f7d5d4aa4a6c13d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/eb685f5dc6b663497f7d5d4aa4a6c13d.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/eb685f5dc6b663497f7d5d4aa4a6c13d.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/eb685f5dc6b663497f7d5d4aa4a6c13d.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/eb685f5dc6b663497f7d5d4aa4a6c13d.svg#Noto Kufi Arabic")
      format("svg");
}
