@font-face {
  font-family: "NotoKufi";
  src: url("/fonts/ArbFONTS-22015-notokufiarabic-regular.ttf");
  src: url("/fonts/ArbFONTS-NotoKufiArabic-Bold.ttf");
  src: url("/fonts/ArbFONTS-NotoKufiArabic-Regular.ttf");
}
