@font-face {
  font-family: "Tajawal";
  src: local("Tajawal"), url(/fonts/Tajawal-Medium.ttf) format("truetype");
}

* {
  font-family: Tajawal !important;
  outline: none;
}

*:focus {
  outline: none !important;
}
