@font-face {
  font-family: "Tajawal";
  src: local("Tajawal"), url(/fonts/Tajawal-Medium.ttf) format("truetype");
}

* {
  font-family: Tajawal !important;
  outline: none;
}

*:focus {
  outline: none !important;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin: 20px;
    max-width: 80vw;
  }
}
