.slick-with-padding .slick-slide {
  padding: 10px;
}

.slick-dots {
  overflow: hidden;
  display: flex !important;

  align-items: center;
  justify-content: center;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: var(--theme-ui-colors-primary, #d1b271);
}
